@media (min-width: 1200px) {
  	.container {
    	width: 1170px;
	}
  	.container.main{
	    max-width: 900px !important;
	}
}

@media only screen and (min-width: 961px) and (max-width: 1199px) {
  	.container {
	    max-width: 970px !important;
	}
	
	.container.main{
	    max-width: 900px !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  	.container {
    	max-width: 750px !important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { 
    	max-width: 420px !important;
    }
}

@media only screen and (max-width: 479px) {
    .container { 
    	min-width: 300px !important; 
    	max-width: 350px !important;
    }
}
